- name: Install packages
  become: true
  tensin.infra.apt_wrapper:
    apt_args:
      name: '{{ apt_install_packages }}'
      state: present
  register: apt_install_result

- name: Show installed packages
  ansible.builtin.debug:
    var: apt_install_result.packages
  when: apt_install_result is changed
