- name: Install packages
  become: true
  ansible.builtin.package:
    name: '{{ pacman_install_packages }}'
    state: present
    reason: explicit
    reason_for: all
  register: pacman_result

- name: Show installed packages
  ansible.builtin.debug:
    var: pacman_result.packages
  when: pacman_result.packages is defined and (pacman_result.packages | length > 0)
