- name: Configure power management
  ansible.builtin.import_tasks: power_management.yml

- name: Install linux-status
  become: true
  ansible.builtin.package:
    name: linux-status
    state: present

- name: Enable & start linux-status.service
  become: true
  ansible.builtin.systemd_service:
    name: linux-status.service
    enabled: true
    state: started
