- name: Upgrade packages
  become: true
  tensin.infra.apt_wrapper:
    apt_args:
      update_cache: true
      upgrade: dist
  register: apt_result

- name: Reboot
  become: true
  ansible.builtin.reboot:
    # 3 minutes is plenty.
    reboot_timeout: 180
  when: apt_result is changed

- name: Show upgraded packages
  ansible.builtin.debug:
    var: apt_result.packages
  when: apt_result is changed

- name: Clean up dependencies
  become: true
  tensin.infra.apt_wrapper:
    apt_args:
      autoremove: true
      purge: true
  register: apt_result

- name: Show removed dependencies
  ansible.builtin.debug:
    var: apt_result.packages
  when: apt_result is changed

- name: Configure unattended-upgrades
  ansible.builtin.include_tasks: unattended_upgrades.yml
  when: apt_unattended_upgrades
