- name: Commit etckeeper.conf
  tensin.infra.etckeeper_commit:
    msg: configure etckeeper
    allowlist: [etckeeper/etckeeper.conf]
  listen: etckeeper_commit_conf

- name: Commit .gitignore
  tensin.infra.etckeeper_commit:
    msg: configure ignored files
  listen: etckeeper_commit_gitignore
