- name: Pull repository
  tensin.infra.safe_git: # noqa: latest
    repo: '{{ my_dotfiles_repo }}'
    dest: '{{ my_dotfiles_dir }}'
    version: master
    accept_hostkey: true
  register: my_dotfiles_repo

- name: Run setup.sh
  ansible.builtin.command: ./setup.sh
  args:
    chdir: '{{ my_dotfiles_dir }}'
  when: my_dotfiles_repo.changed
