dependencies:
  - role: apt
    vars:
      apt_unattended_upgrades: '{{ debian_server_unattended_upgrades }}'
  - role: apt_install
    vars:
      apt_install_packages: '{{ debian_server_packages }}'
  - role: locale
    vars:
      locale_list: '{{ debian_server_locale_list }}'
  - role: sshd
  - role: journald
  - role: linux_status
