- name: Read daemon.json
  become: true
  tensin.infra.parse_json_file:
    path: /etc/docker/daemon.json
    default: {}
  register: daemon_json

- name: Modify Docker config
  become: true
  block:
    - name: Create /etc/docker
      ansible.builtin.file:
        path: /etc/docker
        state: directory
        owner: root
        group: root
        mode: '755'

    - name: Write daemon.json
      ansible.builtin.copy:
        dest: /etc/docker/daemon.json
        content: '{{ daemon_json.content | combine({"log-driver": docker_logging_driver}) | to_nice_json }}'
        owner: root
        group: root
        mode: '644'
      notify: docker_configured

- name: Restart Docker service if necessary
  ansible.builtin.meta: flush_handlers
