- name: Set up project
  vars:
    project_url: '{{ project.url | default(project) }}'
    project_name: "{{ project.name | default(project_url | urlsplit('path') | basename | regex_replace('\\.git$', '')) }}"
    project_dir: '{{ my_workspace_dir }}/{{ project_name }}'
    makefile: '{{ project_dir }}/Makefile'
    compose_file: '{{ project_dir }}/docker-compose.yml'
  block:
    - name: Update repository
      ansible.builtin.git: # noqa: latest
        repo: '{{ project_url }}'
        dest: '{{ project_dir }}'
        accept_hostkey: true

    - name: Configure git repository
      community.general.git_config:
        scope: local
        repo: '{{ project_dir }}'
        name: '{{ item.name }}'
        value: '{{ item.value }}'
      loop:
        - name: user.name
          value: '{{ my_workspace_git_name }}'
        - name: user.email
          value: '{{ my_workspace_git_email }}'

    - name: Check for Makefile
      ansible.builtin.stat:
        path: '{{ makefile }}'
        get_attributes: false
        get_checksum: false
        get_mime: false
        follow: true
      register: makefile_stat

    - name: Check for docker-compose file
      ansible.builtin.stat:
        path: '{{ compose_file }}'
        get_attributes: false
        get_checksum: false
        get_mime: false
        follow: true
      register: compose_file_stat

    - name: Run make
      become: true
      community.general.make:
        chdir: '{{ project_dir }}'
      when: makefile_stat.stat.readable

    - name: Run docker-compose
      become: true
      community.docker.docker_compose_v2:
        project_src: '{{ project_dir }}'
        pull: always
        build: always
        remove_orphans: true
      when: not makefile_stat.stat.readable and compose_file_stat.stat.readable

    - name: Fail if both files are unreadable
      ansible.builtin.fail:
        msg: |
          Don't know how to run project in {{ project_dir }}
      when: not (makefile_stat.stat.readable or compose_file_stat.stat.readable)
