- name: Configure Certbot DigitalOcean plugin
  become: true
  block:
    - name: Prompt for token
      ansible.builtin.pause:
        prompt: |
          Enter your API token:
        echo: false
      register: letsencrypt_do_token
      when:
        - lookup('env', 'DIGITALOCEAN_TOKEN') | length <= 0

    - name: Set token as fact
      ansible.builtin.set_fact:
        letsencrypt_do_token: "{{ letsencrypt_do_token.user_input | default(lookup('env', 'DIGITALOCEAN_TOKEN')) }}"

    - name: Fail if token is invalid
      ansible.builtin.fail:
        msg: 'DigitalOcean token is invalid'
      when: letsencrypt_do_token | length == 0

    - name: Configure certbot.ini
      ansible.builtin.template:
        src: certbot.ini.j2
        dest: '{{ letsencrypt_credentials_ini }}'
        owner: root
        group: root
        mode: '600'
