- name: Install Certbot
  ansible.builtin.import_tasks: certbot.yml

- name: Configure Certbot DigitalOcean plugin
  ansible.builtin.import_tasks: digitalocean.yml

- name: Create /etc/letsencrypt
  become: true
  ansible.builtin.command: certbot certificates
  args:
    creates: /etc/letsencrypt

- name: Update certificates
  ansible.builtin.include_tasks: domain.yml
  loop: '{{ letsencrypt_domains }}'
  loop_control:
    loop_var: domain
