- name: Validate backend
  ansible.builtin.fail:
    msg: |
      Unknown Wireguard backend: {{ wg_backend }}
  when: |
    wg_backend not in ['wg-quick', 'NetworkManager']

- name: Set up using wg-quick
  ansible.builtin.include_tasks: wg-quick.yml
  when: wg_backend == 'wg-quick'

- name: Set up using NetworkManager
  ansible.builtin.include_tasks: NetworkManager.yml
  when: wg_backend == 'NetworkManager'
