- name: Validate backend
  ansible.builtin.fail:
    msg: |
      Unknown Wireguard backend: {{ wg_backend }}
  when: |
    wg_backend not in ['wg-quick', 'NetworkManager']

- name: 'Set up using backend {{ wg_backend }}'
  ansible.builtin.include_tasks: '{{ wg_backend }}.yml'
