- name: Write NetworkManager config file
  become: true
  ansible.builtin.template:
    src: NetworkManager.nmconnection.j2
    dest: '/etc/NetworkManager/system-connections/{{ wg_name }}.nmconnection'
    owner: root
    group: root
    mode: '600'
  register: wireguard_config

- name: Reload NetworkManager connections
  become: true
  ansible.builtin.command: nmcli connection reload
  when: wireguard_config.changed
  changed_when: true

- name: Set up service dependencies for the interface
  ansible.builtin.include_role:
    name: systemd_depend_iface
  vars:
    systemd_depend_iface_name: '{{ wg_name }}'
    systemd_depend_iface_services: '{{ wg_dependent_services }}'

- name: Create override directory for services
  become: true
  ansible.builtin.file:
    path: '/etc/systemd/system/{{ service }}.service.d'
    state: directory
    owner: root
    group: root
    mode: '755'
  loop: '{{ wg_dependent_services }}'
  loop_control:
    loop_var: service

- name: Set up service dependencies for wg-quick
  become: true
  ansible.builtin.template:
    src: depend_service_NetworkManager.conf.j2
    dest: '/etc/systemd/system/{{ service }}.service.d/depend_service_NetworkManager.conf'
    owner: root
    group: root
    mode: '644'
  notify: wireguard_reload
  loop: '{{ wg_dependent_services }}'
  loop_control:
    loop_var: service

- name: Reload systemd services if necessary
  ansible.builtin.meta: flush_handlers
