- name: Install wireguard-tools
  become: true
  ansible.builtin.package:
    name: wireguard-tools
    state: present

- name: Write wg-quick config file
  become: true
  ansible.builtin.template:
    src: wg-quick.conf.j2
    dest: '/etc/wireguard/{{ wg_name }}.conf'
    owner: root
    group: root
    mode: '600'
  register: config

- name: Enable wg-quick service
  become: true
  ansible.builtin.systemd_service:
    name: 'wg-quick@{{ wg_name }}'
    enabled: '{{ wg_autoconnect }}'
  when: config.changed

- name: Restart wg-quick service
  become: true
  ansible.builtin.systemd_service:
    name: 'wg-quick@{{ wg_name }}'
    state: restarted
  when: config.changed and wg_autoconnect

- name: Set up service dependencies for the interface
  ansible.builtin.include_role:
    name: systemd_depend_iface
  vars:
    systemd_depend_iface_name: '{{ wg_name }}'
    systemd_depend_iface_services: '{{ wg_dependent_services }}'

- name: Create override directory for services
  become: true
  ansible.builtin.file:
    path: '/etc/systemd/system/{{ service }}.service.d'
    state: directory
    owner: root
    group: root
    mode: '755'
  loop: '{{ wg_dependent_services }}'
  loop_control:
    loop_var: service

- name: Set up service dependencies for wg-quick
  become: true
  ansible.builtin.template:
    src: depend_service_wg-quick.conf.j2
    dest: '/etc/systemd/system/{{ service }}.service.d/depend_service_wg-quick@{{ wg_name }}.conf'
    owner: root
    group: root
    mode: '644'
  notify: wireguard_reload
  loop: '{{ wg_dependent_services }}'
  loop_control:
    loop_var: service

- name: Reload systemd services if necessary
  ansible.builtin.meta: flush_handlers
