- name: Get host distro
  ansible.builtin.setup:
    gather_subset:
      - distribution
      - distribution_major_version
      - distribution_release
      - os_family

- name: Set platform-specific variables
  ansible.builtin.include_vars: "{{ __sshd_vars_file }}"
  loop:
    - "{{ ansible_facts['os_family'] }}.yml"
    - "{{ ansible_facts['distribution'] }}.yml"
    - "{{ ansible_facts['distribution'] }}_{{ ansible_facts['distribution_major_version'] }}.yml"
  vars:
    __sshd_vars_file: "{{ role_path }}/vars/{{ item }}"
  when: __sshd_vars_file is exists

- name: Configure sshd
  become: true
  ansible.builtin.template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: '644'
    validate: /usr/sbin/sshd -t -f %s
  register: sshd_conf

- name: Restart sshd
  become: true
  when: sshd_conf is changed
  ansible.builtin.systemd_service:
    name: sshd
    state: restarted

- name: Enable sshd service
  become: true
  ansible.builtin.systemd_service:
    name: sshd.service
    enabled: true
