- name: Configure sshd
  become: true
  ansible.builtin.template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: '644'
    validate: /usr/sbin/sshd -t -f %s
  register: sshd_conf

- name: Restart sshd
  become: true
  when: sshd_conf is changed
  ansible.builtin.systemd_service:
    name: sshd
    state: restarted
